/.idea/
.buildpath
.project
/webapp/app/config/parameters.yml
/webapp/build/
/webapp/phpunit.xml
/webapp/var/*
!/webapp/var/cache
/webapp/var/cache/*
!/webapp/var/webapp/cache/.gitkeep
!/webapp/var/logs
/webapp/var/logs/*
!/webapp/var/webapp/logs/.gitkeep
!/webapp/var/sessions
/webapp/var/sessions/*
!/webapp/var/sessions/.gitkeep
!/webapp/var/SymfonyRequirements.php
/webapp/vendor/
/webapp/web/bundles/
/webapp/web/assets/
/webapp/web/css/
/webapp/web/assetic
/webapp/web/images
/webapp/web/js/
/webapp/web/uploads/
/webapp/web/dumps
