Dear {{ name }},

<h3>You have successfully registered for ChallengeMe</h3>

<p>
    You have to verify your email by clicking the next link and reset your password:<br>
    <a href="{{ url('player_reset_password', {'token': token}) }}">Verify your account</a>
</p>

The ChallengeMe team !
