{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(form) }}
                <small style="color: red;">{{ form_errors(form) }}</small>
            </div>
        </div>

    {% endspaceless %}
{% endblock form_row %}