<footer>
    <div class="pull-right">
        ChallengeMe - Copyrights© Hamza ESSAYEGH (Querdos) - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>