<footer>
    <div class="pull-right">
        ChallengeMe - ©{{ "now"|date("Y") }} All rights reserved to Hamza ESSAYEGH (Querdos) - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>