{% trans_default_domain "global-base" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        {# Meta, title, CSS, favicons, etc. #}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ChallengeMe - {% block title %}{% endblock title %}</title>

        {% block stylesheets %}
            {% stylesheets
                '@bootstrap_css'
                '@fontAwesome_css'
                '@customTheme_css'

                filter='cssrewrite'
            %}
                <link href="{{ asset_url }}" rel="stylesheet"/>
            {% endstylesheets %}
        {% endblock stylesheets %}
    {% endblock head %}
</head>
{% block body %}
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                {% block page_content %}{% endblock page_content %}
            </div>
        </div>

        {% block javascript %}{% endblock javascript %}
    </body>
{% endblock body %}
</html>