{% trans_default_domain "players-base" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        {# Meta, title, CSS, favicons, etc. #}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ChallengeMe - {% block title %}{{ "title" | trans | desc("Adminstration") | meaning("Title") }}{% endblock title %}</title>

        {% block stylesheets %}
            {% stylesheets
                '@bootstrap'
                '@fontAwesome'
                '@customTheme'

                filter='cssrewrite'
            %}
                <link href="{{ asset_url }}" rel="stylesheet"/>
            {% endstylesheets %}
        {% endblock stylesheets %}
    {% endblock head %}
</head>
{% block body %}
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                {# Left navigation #}
                {% include "@Player/navigation/left_nav.html.twig" %}

                {# top navigation #}
                {% include "@Player/navigation/top_nav.html.twig" %}

                {# page content #}
                <div class="right_col" role="main">
                    {% block main_content %}{% endblock main_content %}
                </div>

                {# footer content #}
                {% include "@Player/content/footer.html.twig" %}

            </div>
        </div>

        {% block javascript %}{% endblock javascript %}
    </body>
{% endblock body %}
</html>