{% trans_default_domain "players-footer" %}
<footer>
    <div class="pull-right">
        ChallengeMe - ©{{ "now"|date("Y") }} {{ "copyright" | trans | desc("All rights reserved") | meaning("Copyrights") }} to Hamza ESSAYEGH (Querdos) - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
</footer>